node_modules
.vscode
brace-expansion
out
aot

*.log

app/*.js
app/*.js.map

app/about/*.js
app/about/*.js.map

app/comments/comment/*.js
app/comments/comments-list/*.js.map
app/comments/shared/*.js.map

app/contact/*.js
app/contact/*.js.map

app/master-page/*.js
app/master-page/*.js.map

app/page-header/*.js
app/page-header/*.js.map

app/posts/post-details/*.js
app/posts/posts-list/*.js.map
app/posts/shared/*.js.map
