<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 rtlDir">
    <p>שלום לכולם, קוראים לי גד, נשוי + ארבעה ילדים ומהנדס תכנה במקצועי.</p>
    <p>לפני זמן מה עברנו לגור בבית במושב אי שם, בית שכור והחלטנו להתחיל למלא אותו קצת ברהיטים. בחרתי להתחיל בחיפוש אחר ספסל לכניסה של הבית, משהו לשים עליו תיקים ומתחתיו סלסלות לנעלים. התחלתי לשוטט באינטרנט וחשבתי אולי לנסות לבנות אחד בעצמי, אז קניתי עצים, לקחתי לאבא שלי את המסור, קניתי מברגה ומקדחה (תמיד טוב שיש בבית), קצת טיפים מאבא (שגם בנה כמה דברים לבד), קצת אינטרנט ובלי יותר מידי תכנון התחלתי לבנות.&nbsp;הרסתי את העצים, לא חתכתי נכון ומהספסל נשארה מסגרת עץ שהפכה למדף נחמד.</p>
    <p>אחרי שהרסתי הכל באו השאלות: למה לא עשית חור מוביל? מה זה הברגים האלו? מה עם דבק? וכו וכו.&nbsp;כמובן שכל התשובות שהיו לי הם: "מה זה חור מוביל?", "איזה דבק?" וכו וכו.</p>
    <p>אבל מה, התאהבתי בעבודה, התחלתי לחפש עוד חומר באינטרנט על כלים, שיטות עבודה, איך ומה... והחלטתי לעשות את זה קצת יותר ברצינות. קניתי כמה כלים בסיסיים, ברגים, דבק, חיפשתי תוכניות לשולחן עבודה, קניתי עצים ובניתי אחד. הצליח לי. מכאן כבר נהייתי נגר חובב (גם ספסל כניסה לבית בניתי).</p>
    <p>לאורך הדרך היה חסר לי אנשים שיוכלו לתת טיפים, להכווין ושאוכל לשאול אותם שאלות שיחסכו לי הרבה טעויות (שגם עלו קצת כסף). אז החלטתי לפתוח בלוג בשביל לתת מהניסיון שיש לי לכאלה שמתחילים או רוצים להתחיל, לקבל טיפים ועזרה מאחרים וגם לתת ולקבל רעיונות לפרוייקטים חדשים.</p>
    <p>הבלוג הזה הוא בלוג של נגר חובב (חשוב לי לציין), אני לא משתמש בכלים כבדים (חוץ ממסור), אין לי שולחן נגרים (שולחן עבודה פשוט שאני בניתי), אני עובד בחצר של הבית, עד היום עבדתי רק עם אורן מוקצע (וכנראה זה גם ימשיך כך), הרבה פעמים אני מאלתר ואני עושה מלא (אבל מלא) טעויות .</p>
    <p>תודה שבחרתם לבקר כאן ואשמח לתגובות.</p>
    <p>גד</p>
    <hr>
</div>
