<div class="row">
    <div *ngIf="comments && comments.length > 0" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 rtlDir comments">
		<div class="row">
			<h2>תגובות</h2>
		</div>
		<div class="row">
		    <div *ngFor="let comment of comments" class="comment">
				<div class="comment-avatar">
					<img src="app/images/default-avatar.png">
				</div>
				<div class="comment-text">
					<p class="name">{{comment.owner}}</p>
					<p class="date">{{comment.dateSubmitted}}</p>
					<p>{{comment.content}}</p>				
					<a (click)="commentForm.toggle()"><i class="fa fa-share"></i>הגב</a>
					<div class="row">
					<form-comment [postId]="comment.postId" [showHeader]="false" #commentForm></form-comment>
					</div>
				</div>
				<div *ngFor="let subComment of comment.comments" class="comment comment-child">
    				<div class="comment-avatar">
    					<img src="app/images/default-avatar.png">
    				</div>
    				<div class="comment-text">
    					<p class="name">{{subComment.owner}}</p>
    					<p class="date">{{subComment.dateSubmitted}}</p>
    					<p>{{subComment.content}}</p>				
    					<a><i class="fa fa-share"></i>הגב</a>
    				</div>
    			</div>
			</div>
		</div>
	</div>
</div>