.comments{
	margin-top:50px;
    margin-bottom:50px;
}

.comments h2{
	font: 400 30px/28px 'Open Sans', sans-serif;
    text-align: right;
    margin-bottom: 30px;
}

.comment{
	margin-top: 0.8em;
}

.comment p{
	font-size: 0.875em;
    color: #B7B5B5;
    margin: 0.6em 0;
    line-height: 1.4em;
    font-weight: 400;
}

.comment a{
    display: inline-block;
    text-align: left;
    font-size: 0.875em;
    color: #363636;
    line-height: 1.8em;
    padding-top: 2px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    font-weight: 400;
	text-decoration:none;
	cursor: pointer;
}

.comment i{
	padding-left: 6px;
}

.comment-avatar {
    float: right;
    width: 8.33333%;
    margin-left: 2%;
}

.comment-avatar img{
	padding-top: 12px;
    width: 100%;
	border-radius: 50%;
}

.comment-text {
    float: right;
    width: 88.33333%;
}

.comment p.name{
	font: 20px/20px 'Open Sans', sans-serif;
    color: #363636;
}

.comment p.date{
	font: 17px/20px 'Open Sans', sans-serif;
    color: #363636;
	padding-top: 10px;
}

.comment-form-header {
	margin-top:100px;
}

.comment-child{
	margin-top: 0.8em;
	margin-right: 14%;
}
