<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 rtlDir comment-form">
    <div class="row">
        <h2 class="comment-form-header">השאר תגובה</h2>
    </div>
    <div class="row">
        <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="owner" required [(ngModel)]="model.owner" name="owner" #owner="ngModel" placeholder="שם">
                <div [hidden]="owner.valid || owner.pristine" class="alert alert-danger">
                    שם הוא שדה חובה
                </div>          
            </div>
            <div class="form-group">
                <textarea rows="10" class="form-control" id="content" required [(ngModel)]="model.content" name="content" #content="ngModel" placeholder="הודעה"></textarea>
                <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                    נא לרשום את תוכן ההודעה
                </div>          
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!commentForm.form.valid">שלח</button>
        </form>
    </div>
</div>
	   